.container {
  background: linear-gradient(to bottom, #121b3b, #000000);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* 確保內容可以相對位置進行調整 */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 使內容在垂直方向居中 */
  align-items: center; /* 使內容在水平方向居中 */
  width: 100%;
  padding-top: 20px; /* 可選：如果你希望與 Tabs 保持距離 */
}
