/* LanguageSelector.module.css */
.container {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    background: linear-gradient(to top, #121b3b, #7d00ff)
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #1f1f3b;
    color: #fff;
    border: 1px solid #4d4d7d;
  }
  
  .textarea {
    width: 95%;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f1f3b;
    border: 1px solid #4d4d7d;
    color: #fff;
  }
  
  .button {
    background-color: #7d00ff; /* 按鈕的紫色 */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  