body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark mode background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff; /* Text color for dark mode */
  }
  
  h1 {
    color: #ffffff; /* White color for header in dark mode */
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #6a15c0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #23073f; /* Darker blue on hover */
  }
  
  .container {
    background-color: #1e1e1e; /* Dark mode container background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 600px;
    height: 800px;
  }
  