.buttonContainer {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    width: 100%;
    max-width: 450px;
    height: 80px; /* Add this to set a minimum height */
    line-height: 1.2; /* Adjust line-height to control vertical alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .button:hover {
    background-color: #a80641;
  }